<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>weather</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/stylesheet.css">
    <script type="text/javascript" src="./js/jaSc.js"></script>
</head>
<body>
  <div class="mainDiv">
    {{>header}}
    <p>name is: {{name}}</p>
  </div>
{{>footer}}
</body>

</html>
